body { background-color: black;
	color: #FFFFFF;
	text-align:center;
	font-family:Verdana;
	}
.download {
 color:aquamarine;
 font-size:16px;}

.foot {
 text-align:right;
 }
        h1 {
font-size:50px;
  font-weight: normal;

}
        h2 {
font-weight:300;
font-size:45px;
}

p {
   font-size: 21px;
   color: gray;
 }
.recomend {
color:gray;
font-size:21px;
}




